
@font-face {font-family: 'Homenaje'; src: url('Fontes/Homenaje-Regular.ttf') format('truetype');}
@font-face {font-family: 'Hind Madurai'; src: url('Fontes/HindMadurai-Regular.ttf') format('truetype');}
@font-face {font-family: 'Comfortaa'; src: url('Fontes/Comfortaa-VariableFont_wght.ttf') format('truetype');}
@font-face {font-family: 'Exo'; src: url('Fontes/Exo-VariableFont_wght.ttf') format('truetype');}
@font-face {font-family: 'Duru Sans'; src: url('Fontes/DuruSans-Regular.ttf') format('truetype');}
@font-face {font-family: 'Convergence'; src: url('Fontes/Convergence-Regular.ttf') format('truetype');}
h2{font-family: 'Exo';}
form{font-family: 'Hind Madurai';}
*{box-sizing: border-box; margin: 0; padding: 0;}
body{width: 100%; min-height: 100vh; background-image: url(Imagens/minhacontaeloginbackground.png); display: flex;justify-content: center; align-items: center;}
.container{overflow: hidden;background-color: #ebebeb; border-radius: 10px; box-shadow: o 2px 5px rgba(0, 0, 0, 0.3); width: 400px; max-width: 100%;}
.header{background-color: #e5e5e5; padding: 20px}
.form{padding: 20px;}
.form-control{margin-bottom: 10px; padding-bottom: 20px; position: relative;}
.form-control label{margin-bottom:5px;display: inline-block;}
.form-control input{border: 2px solid #f0f0f0; display: block; border-radius: 10px; font-size: 14px; width: 100%; padding: 10px;}
.form-control i{position: absolute;top: 40px; right: 10px;visibility: hidden;}
.form-control small{position: absolute; bottom: 0; left: 0; visibility: hidden;}
.form button{background-color: #b8b1b1; border: 2px solid #b8b1b1; color: black; font-size: 14px; width: 100%; border-radius: 10px; padding: 10px;}
/* error and success*/
.form-control.success input{border-color: #2ecc71;}
.form-control.error input{border-color: #e74c3c;}
.form-control.success i.fa-check-circle{color: #2ecc71; visibility: visible;}
.form-control.error i.fa-exclamation-circle{color: #e74c3c; visibility: visible;}
.form-control.error small{visibility: visible; color: #e74c3c;}